/* ========== COMMON STYLE ========== */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui;
    background-color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    color: #fff;
}

/* ========== CHANGE PAGE ========== */

.top-page {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
}

.link-page {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    font-size: clamp(1rem , 1.3vw , 1.4rem);
    text-transform: capitalize;
}

.link-page:hover {
    color: #040ea8;
}

.top-page span i:hover {
    cursor: pointer;
    color: #040ea8;
}

/* ========== HEADER ========== */

header {
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
}

/* ========== INPUTS ========== */

input {
    width: 100%;
    height: 25px;
    padding: 5px 10px;
    background-color: #111;
    border: none;
    outline: none;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

input:focus {
    background-color: black;
    border: 1px solid #999;
    transform: scale(1.1);
}

/* ========== BUTTONS ========== */

#create , 
.search-btn ,
.table-btn ,
.delete-all ,
#add-product {
    width: 100%;
    border-radius: 20px;
    height: 30px;
    border: none;
    padding: 5px 0;
    font-size: clamp(1rem , 1.2vw , 1.5rem);
    background-color: #040ea8;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
}

#create:hover , 
.search-btn:hover , 
.delete-all:hover ,
#add-product:hover {
    transform: scale(1.1);
}

.delete-all {
    margin-bottom: 20px;
}

/* ========== SEARCH ========== */

.search {
    margin: 10px 0;
    margin-bottom: 25px;
}

.search-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.search-btn {
    width: 48%;
}